<section class='section section-sm how-to-use-images'>
    <div class='container'>
        <div class='how-to-use-images-row' data-aos="fade-up" data-aos-delay="50">
            <img
                class='how-to-use-image how-to-use-image--dashboard'
                src='/images/home/home-dashboard.png'
                alt='WAHA dashboard'
                loading='lazy'
            >
            <img
                class='how-to-use-image how-to-use-image--qr'
                src='/images/home/home-scan-qr.png'
                alt='Scan QR on phone'
                loading='lazy'
            >
            <img
                class='how-to-use-image how-to-use-image--swagger'
                src='/images/home/home-swagger.png'
                alt='Swagger API reference'
                loading='lazy'
            >
        </div>
    </div>
</section>
