<section class='section section-sm'>
    <div class='container'>
        <div class='row justify-content-center text-center'>
            <div class='col-12' data-aos="fade-up" data-aos-delay="0">
                <h2>
                    Why WAHA?
                </h2>
            </div>
            <div class='col-12 col-lg-4 pros-card' data-aos="fade-up" data-aos-delay="50">
                <img src='/images/icons/free-green.png' alt='Free' style='width: 5rem'>
                <h2 class='h4 color-accent'>It's free!</h2>
                <p>
                    <a href='/docs/how-to/waha-plus/#tiers' target='_blank'>
                        <b>WAHA Core</b>
                    </a>
                    version is always free, <b>no limits in messages</b> or time!
                    <br>
                    <a href='/docs/how-to/waha-plus/#tiers' target='_blank'>
                        <b>WAHA Plus</b>
                    </a>
                    version have no licence expiration!
                </p>
            </div>
            <div class='col-12 col-lg-4 pros-card' data-aos="fade-up" data-aos-delay="100">
                <img src='/images/icons/servers-green.png' alt='Servers' style='width: 5rem'>
                <h2 class='h4'>Self-hosted solution</h2>
                <p>
                    <a href='/docs/how-to/waha-plus/#why-waha' target='_blank'>
                        No strings to suspicious SaaS WhatsApp API solutions.
                    </a>
                    Install it on your own server!
                </p>
            </div>
            <div class='col-12 col-lg-4 pros-card' data-aos="fade-up" data-aos-delay="150">
                <img src='/images/icons/api-green.png' alt='API' style='width: 5rem'>
                <h2 class='h4'>HTTP / REST API</h2>
                <p>
                    Use your own favorite language - Python, JavaScript, PHP, C#, Clojure, or PowerShell.
                    <br/>
                    <small class='text-muted'>
                        PowerShell, really? Are you insane?! Choose another language, dude.
                    </small>
                </p>
            </div>
        </div>
        <div class='row justify-content-center text-center' data-aos="fade-up" data-aos-delay="200">
            <div class='col-12 col-lg-4 pros-card'>
                <img src='/images/icons/speedometer.svg' alt='Document' style='width: 5rem'>
                <h2 class='h4'>Scalable</h2>
                <p>
                    You can easily run <b>1 session</b> to automate your WhatsApp
                    and scale it to
                    <a href='/docs/overview/faq#system-requirements'>
                    <b>500 sessions</b>
                    </a>
                    to provide SaaS solution!
                </p>
            </div>
            <div class='col-12 col-lg-4 pros-card' data-aos="fade-up" data-aos-delay="250">
                <img src='/images/icons/easy-green.png' alt='Easy' style='width: 5rem'>
                <h2 class='h4'>Easy & Simple</h2>
                <p>
                    You can
                    <a href='/docs/how-to/install/' target='_blank'>
                        run the API in a click!*
                    </a>
                    <a href='/docs/overview/introduction/' target='_blank'>
                        Documentation
                    </a>
                    has a lof examples and how-to guides.
                    <br/>
                    <small class='text-muted'>
                        *It's actually "a command", not a click.
                    </small>
                </p>
            </div>
            <div class='col-12 col-lg-4 pros-card' data-aos="fade-up" data-aos-delay="300">
                <img src='/images/icons/checked-green.png' alt='Checked' style='width: 5rem'>
                <h2 class='h4'>No blocking</h2>
                <p>
                    <a href='/docs/how-to/engines/' target='_blank'>
                        Under the hood
                    </a>
                    it runs a real instance of Whatsapp Web to avoid getting blocked.
                    <br/>
                    <small class='text-muted'>
                        WhatsApp does not allow bots or unofficial clients on their platform, so this shouldn't be
                        considered
                        totally safe.
                    </small>
                </p>
            </div>

        </div>
    </div>
</section>

