{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-9">

  {{ if .Params.avatar -}}
    {{ $image := .Resources.GetMatch (printf "**%s" .Params.avatar) -}}
    {{ $imageLq := $image.Resize "15x15 webp q95" -}}
    {{ $image = $image.Resize "300x300 webp q95" -}}
    <div class="contributor-image">
      <img class="img-fluid lazyload blur-up rounded-circle" src="{{ $imageLq.RelPermalink }}" data-src="{{ $image.RelPermalink }}" alt="{{ .Title }}" width="150" height="150">
    </div>
  {{ end -}}


  {{ with .Params.headline -}}
    <h1 class="text-center">{{ . }}</h1>
  {{ else -}}

    <h1 class="text-center">{{ .Title }}</h1>
  {{ end -}}
    {{ with .Params.summary -}}<p class="lead text-center">{{ . }}</p>{{ end -}}
    {{ with .Content -}}<div class="text-center">{{ . }}</div>{{ end -}}
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-9">
    {{- $pages := .Data.Pages -}}
    {{- $ordering := site.Params.taxonomies.ordering | default dict -}}
    {{- $defaultOrder := $ordering.default | default "desc" -}}
    {{- $order := $defaultOrder -}}
    {{- if eq .Data.Singular "category" -}}
      {{- $categoryConfig := $ordering.category | default dict -}}
      {{- $term := lower .Data.Term -}}
      {{- with index $categoryConfig $term -}}
        {{- $order = . -}}
      {{- end -}}
    {{- end -}}
    {{- if eq (lower $order) "asc" -}}
      {{- $pages = $pages.ByDate -}}
    {{- else if eq (lower $order) "desc" -}}
      {{- $pages = $pages.ByDate.Reverse -}}
    {{- end -}}
    {{ $paginator := .Paginate $pages -}}
    {{ range $paginator.Pages -}}
      {{- $page := . -}}
      <div class="card">
        <div class="card-body">
          <article>
            <h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
            {{- with $page.Params.images -}}
              {{- $img := index . 0 -}}
              {{- if $img -}}
                <div class="text-center my-3">
                  <div class="term-card-image-wrapper">
                    {{ partial "picture" (dict
                      "page" $page
                      "src" $img
                      "alt" $page.Title
                      "width" 320
                      "class" "rounded-3 term-card-image"
                    ) }}
                  </div>
                </div>
              {{- end -}}
            {{- end -}}
            {{- $blurb := "" -}}
            {{- with .Params.summary -}}
              {{- $blurb = . -}}
            {{- end -}}
            {{- if not $blurb -}}
              {{- with .Params.excerpt -}}
                {{- $blurb = . -}}
              {{- end -}}
            {{- end -}}
            {{- if not $blurb -}}
              {{- with .Summary -}}
                {{- $blurb = . -}}
              {{- end -}}
            {{- end -}}
            {{- if $blurb -}}
              <p>{{ $blurb | safeHTML }}</p>
            {{- end -}}
            {{ partial "main/blog-meta.html" $page -}}
          </article>
        </div>
      </div>
    {{ end -}}
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-9">
    {{ template "_internal/pagination.html" . }}
  </div>
</div>
{{ end }}
