{{ define "main" }}
<script>
    AOS.init();
</script>

{{ $content := readFile "/layouts/include/bubbles.html" | safeHTML }}
{{ $content }}

<section class='section section-md pb-0'>
    <div class='container'>
        <div class='row justify-content-center'>
            <div class='col-11 col-lg-9 text-center' data-aos="fade-up">
                <h1 class='display-5 fw-normal mt-1'>{{ .Summary }}</h1>
            </div>
            <div class='d-flex justify-content-center mb-4' data-aos="fade-up">
                <img src='/images/logo.svg' title='WhatsApp API' alt='logo'
                     style='border-radius: 50%; width: 10rem'/>
            </div>
            <div class='col-11 col-lg-9' style='min-width: 25rem' data-aos="fade-up">
                <p><strong>WAHA</strong> (<u>W</u>hats<u>A</u>pp <u>H</u>TTP <u>A</u>PI) is distributed in two versions:
                </p>
                <ol>
                    <li>Core <img src='/images/versions/core.png' alt='Core version image'> the basic version that meets
                        almost
                        80%
                        of people's needs. 100% free and open source.
                    </li>
                    <li>Plus <img src='/images/versions/plus.png' alt='Plus version image'> the version with advanced
                        messages,
                        security, and reliability features.
                    </li>
                </ol>
                You support the project and get <b>WAHA Plus</b> by
                donating to the project on
                <a href='#how-to-donate'>one of the platforms: Boosty, Patreon or using Crypto</a>.
            </div>
        </div>
    </div>
</section>

<section class='section section-md pb-0' id='tiers'>
    <div class='text-center' data-aos="fade-up">
        <h1 class='display-5 fw-normal mt-1'>Tiers</h1>
    </div>
    <div class='row justify-content-center' data-aos="fade-up">
        <div class='col-11 col-lg-9 text-center' style='min-width: 25rem'>
            <p>The more you support, the more you get!</p>
        </div>
    </div>
    <div class='row justify-content-center text-center'>
        <!-- Core -->
        <div
                class='col-12 col-lg-4 pros-card-wide h-full d-flex flex-column justify-content-between'
                id='tier-core'
                data-aos="fade-up" data-aos-delay="50"
        >
            <div>

                <h2 class='h4 color-accent mt-0 display-4'>Core</h2>
                <p class='fw-bold'>
                    Send and receive unlimited text messages from 1 session!
                </p>
                <div class='mb-4'>
                    <span class='display-4 fw-bold'>$0</span>
                </div>

                <div class='tier-pros'>
                    <div>
                        🏠 <a href='{{ relref . "/docs/how-to/install" }}'>Self-Hosted</a>
                    </div>
                    <div>
                        📤 <a href='{{ relref . "/docs/how-to/send-messages" }}'>Send text messages</a>
                    </div>
                    <div>
                        📥 <a href='{{ relref . "/docs/how-to/receive-messages" }}'>Receive text and media messages</a>
                    </div>
                    <div>
                        🔄 <a href='{{ relref . "/docs/how-to/webhooks" }}'>Webhooks</a>
                    </div>
                    <div>
                        🌐 <a href='{{ relref . "/docs/how-to/proxy" }}'>Proxies</a>
                    </div>
                    <div>
                        📊 <a href='{{ relref . "/docs/how-to/waha-dashboard" }}'>Built-in Dashboard</a>
                    </div>
                    <div>
                        📚 <a href='{{ relref . "/docs/how-to/swagger" }}'>Swagger and OpenAPI spec</a>
                    </div>
                    <div>
                        🏭 <a href='{{ relref . "/docs/how-to/engines#webjs" }}'>Web based engine (WEBJS)</a>
                    </div>
                    <div>
                        🏭 <a href='{{ relref . "/docs/how-to/engines#noweb" }}'>Light non-chrome engine (NOWEB)</a>
                    </div>
                    <div>
                        🐙 <a href='https://github.com/devlikeapro/waha'><b>WAHA Core</b> Source
                        Code</a>
                    </div>
                    <div>
                       🖥️ <a href='{{ relref . "/docs/how-to/sessions"}}'>1 Session</a>
                    </div>
                    <div>
                        &nbsp;<b>∞</b>&nbsp; Unlimited messages
                    </div>
                    <div>
                        👉 <a href='{{ relref . "/docs/how-to/engines#features" }}'>and more!</a>
                    </div>
                    <div style="height: 1.5rem">
                    </div>
                </div>
            </div>
            <div class='mt-4 pt-2'>
                <div class='mb-4'>
                    <span class='display-4 fw-bold'>$0</span>
                </div>
                <a class='btn btn-outline-primary btn-lg px-4 mb-2'
                   href='/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}overview/introduction/'
                   role='button'>Get Started →</a>
            </div>
        </div>

        <!-- PLUS -->
        <div
                class='col-12 col-lg-4 pros-card-wide h-full d-flex flex-column justify-content-between'
                id='tier-plus'
                data-aos="fade-up" data-aos-delay="100"
        >
            <div>
                <h2 class='h4 color-accent mt-0 display-4'>Plus</h2>
                <p class='fw-bold'>
                    Send and receive using unlimited sessions, protected with built-in security!
                </p>
                <div class='mb-4'>
                    <span class='display-4 fw-bold'>$19</span>
                </div>

                <div class='tier-pros'>
                    <div>
                        ✅ All <b>Core</b> features
                    </div>
                    <div>
                        🏠 <a href='{{ relref . "/docs/how-to/install" }}'>Self-Hosted</a>
                    </div>
                    <div>
                        🔑 <a href='{{ relref . "/docs/how-to/waha-plus" }}'>Personal Docker Key to <b>WAHA Plus</b></a>
                    </div>
                    <div>
                        📤📄 <a href='{{ relref . "/docs/how-to/send-messages" }}'>Send files, voices, video</a>
                    </div>
                    <div>
                        🔒 <a href='{{ relref . "/docs/how-to/security" }}'>Built-in Security</a>
                    </div>
                    <div>
                        🔁 <a href='{{ relref . "/docs/how-to/webhooks" }}'>Webhooks retries</a>
                    </div>
                    <div>
                        🗄️ <a href='{{ relref . "/docs/how-to/storages" }}'>File storage</a>
                    </div>
                    <div>
                        💾 <a href='{{ relref . "/docs/how-to/storages" }}'>MongoDB storage</a>
                    </div>
                    <div>
                        🏅 Special badge on GitHub <img src='https://img.shields.io/badge/patron-PLUS-a0e6ba'>
                    </div>
                    <div>
                        🖥️ <a href='{{ relref . "/docs/how-to/sessions"}}'>Unlimited Sessions</a>¹
                    </div>
                    <div>
                        📞 <a href='{{ relref . "/contact"}}'>Mon-Fri, 9AM-6PM (UTC+6) Support</a>
                    </div>
                    <div>
                        <small>
                            ¹ If you're planning to host 100+ sessions (accounts, phone numbers),
                            consider <b><a href='#tier-pro'>PRO</a></b> tier.
                            You can still use it, there's no technical limit,
                            but we can not provide the same level of support for 100+ sessions on <b>Plus</b> tier 🥲
                        </small>
                        <p class="small">
                            ²
                            <a
                                    href='{{ relref . "/docs/overview/faq#i-want-to-purchase-waha-plus-waha-pro-is-it-one-time-purchase" }}'
                                    target="_blank"
                            >
                                FAQ: Is it one time payment?
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class='mt-4 pt-2'>
                <div class='mb-4'>
                    <span class='display-4 fw-bold'>$19</span>
                </div>

                <a class='btn btn-primary btn-lg px-4 mb-2'
                   href='#donations'
                   role='button'>Support project →</a>
            </div>

        </div>

        <!-- PRO -->
        <div
                class='col-12 col-lg-4 pros-card-wide pros-card--highlighted h-full d-flex flex-column justify-content-between'
                id='tier-pro'
                data-aos="fade-up" data-aos-delay="150"
        >
            <div>
                <h2 class='h4 color-accent mt-0 display-4'>PRO</h2>
                <p class='fw-bold'>
                    Source code, priority support, direct communication with developers!
                </p>
                <div class='mb-4'>
                    <span class='display-4 fw-bold'>$99</span>
                </div>

                <div class='tier-pros'>
                    <div>
                        ✅ All <b>Plus</b> features
                    </div>
                    <div>
                        🏠 <a href='{{ relref . "/docs/how-to/install" }}'>Self-Hosted</a>
                    </div>
                    <div>
                        🐙 <a href='https://github.com/devlikeapro/waha-plus'><b>WAHA Plus</b> Source
                        Code</a>
                    </div>
                    <div>
                        ⭐ Priority support (feature requests, bug fixes, etc.)
                    </div>
                    <div>
                        💻 Deployment consulting
                    </div>
                    <div>
                        👥 Invite team - up to <b>5 members</b> to help you with the project
                    </div>
                    <div>
                        💬 <b>WAHA PRO Discord</b> community,
                        where you can connect directly with developers to receive personalized support and
                        share your experiences with fellow professionals.
                    </div>
                    <div>
                        🏅 Special badge on GitHub <img src='https://img.shields.io/badge/patron-PRO-188a42'>
                    </div>
                    <div>
                        📞 <a href='{{ relref . "/contact"}}'>ASAP (UTC+6) Support</a>
                    </div>
                    <div>
                        <p class="small">
                            ¹
                            <a
                                    href='{{ relref . "/docs/overview/faq#i-want-to-purchase-waha-plus-waha-pro-is-it-one-time-purchase" }}'
                                    target="_blank"
                            >
                                FAQ: Is it one time payment?
                            </a>
                        </p>
                    </div>
                </div>
            </div>

            <div class='mt-4 pt-2'>
                <div class='mb-4'>
                    <span class='display-4 fw-bold'>$99</span>
                </div>
                <a class='btn btn-primary btn-lg px-4 mb-2'
                   href='#donations'
                   role='button'>Support project →</a>
            </div>
        </div>
    </div>
</section>

<section class='section section-md pb-0' id='tiers-compare'>
    <div class='text-center' data-aos="fade-up">
        <h1 class='display-5 fw-normal mt-1'>Compare Features</h1>
    </div>
    <div class='row justify-content-center' data-aos="fade-up">
        <table class='table-highlight-first-column'>
            <tr>
                <th></th>
                <th>
                    Core
                </th>
                <th>Plus</th>
                <th>PRO</th>
            </tr>
            <tr>
                <th></th>
                <th> <b>$0</b> </th>
                <th> <b>$19</b> </th>
                <th> <b>$99</b> </th>
            </tr>
            <tr>
                <td>
                    🖥️ <a href='{{ relref . "/docs/how-to/sessions"}}'>Sessions</a>
                </td>
                <td>
                    &nbsp;1&nbsp;
                </td>
                <td>
                    Unlimited*
                </td>
                <td>
                    Unlimited
                </td>
            </tr>
            <tr>
                <td>
                    💬 Messages
                </td>
                <td>∞</td>
                <td>∞</td>
                <td>∞</td>
            </tr>
            <tr>
                <td>
                    🏠 <a href='{{ relref . "/docs/how-to/install" }}'>Self-Hosted</a>
                </td>
                <td>✔️</td>
                <td>✔️</td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    📤 <a href='{{ relref . "/docs/how-to/send-messages" }}'> Send text messages </a>
                </td>
                <td>✔️</td>
                <td>✔️</td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    📥 <a href='{{ relref . "/docs/how-to/receive-messages" }}'> Receive text and media messages </a>
                </td>
                <td>✔️</td>
                <td>✔️</td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    📤📄 <a href='{{ relref . "/docs/how-to/send-messages" }}'> Send files, voices, video </a>
                </td>
                <td></td>
                <td>✔️</td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    🌐 <a href='{{ relref . "/docs/how-to/proxy" }}'>Proxies</a>
                </td>
                <td>✔️</td>
                <td>✔️</td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    🔄 <a href='{{ relref . "/docs/how-to/storages" }}'>Webhooks</a>
                </td>
                <td>✔️</td>
                <td>✔️</td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    🔁 <a href='{{ relref . "/docs/how-to/webhooks" }}'>Webhooks retries</a>
                </td>
                <td></td>
                <td>✔️</td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    🗄️ <a href='{{ relref . "/docs/how-to/storages" }}'>File storage</a>
                </td>
                <td></td>
                <td>✔️</td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    💾 <a href='{{ relref . "/docs/how-to/storages" }}'>MongoDB storage</a>
                </td>
                <td></td>
                <td>✔️</td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                     📊 <a href='{{ relref . "/docs/how-to/waha-dashboard" }}'>Built-in Dashboard</a>
                </td>
                <td>✔️</td>
                <td>✔️</td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    🔒 <a href='{{ relref . "/docs/how-to/security" }}'>Built-in Security</a>
                </td>
                <td></td>
                <td>✔️</td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    🏭 <a href='{{ relref . "/docs/how-to/engines#webjs" }}'>Web based engine (WEBJS)</a>
                </td>
                <td>✔️</td>
                <td>✔️</td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    🏭 <a href='{{ relref . "/docs/how-to/engines#noweb" }}'>Light non-chrome engine (NOWEB)</a>
                </td>
                <td>✔️</td>
                <td>✔️</td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    🔑 <a href='{{ relref . "/docs/how-to/waha-plus" }}'>Personal Docker Key to <b>WAHA Plus</b></a>
                </td>
                <td></td>
                <td>✔️</td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    🐙 <a href='https://github.com/devlikeapro/waha' target='_blank'>WAHA Core Source Code
                        -></a>
                </td>
                <td>✔️</td>
                <td>✔️</td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    🐙➕ <a href='https://github.com/devlikeapro/waha-plus' target='_blank'>WAHA Plus Source
                        Code -></a>
                </td>
                <td></td>
                <td></td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    📞 Support (Mon-Fri, 9AM-6PM, UTC+6)
                </td>
                <td>✔️</td>
                <td>✔️</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    📞 Support (ASAP, UTC+6)
                </td>
                <td></td>
                <td></td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    ⭐ Priority support
                </td>
                <td></td>
                <td></td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    💻 Deployment consulting
                </td>
                <td></td>
                <td></td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    👥 Team - <b>5 additional seats</b>
                </td>
                <td></td>
                <td></td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    💬 <b>WAHA PRO Discord</b> community
                </td>
                <td></td>
                <td></td>
                <td>✔️</td>
            </tr>
            <tr>
                <td>
                    🏅 Special Badge on GitHub
                </td>
                <td></td>
                <td>
                    <img src='https://img.shields.io/badge/patron-PLUS-a0e6ba'>
                </td>
                <td>
                    <img src='https://img.shields.io/badge/patron-PRO-188a42'>
                </td>
            </tr>
            <tr>
                <th></th>
                <th> <b>$0</b> </th>
                <th> <b>$19</b> </th>
                <th> <b>$99</b> </th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <a
                            href='/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}overview/introduction/'
                    >Get Started -></a>
                </th>
                <th>
                    <a href='#donations'>Support project -></a>
                </th>
                <th>
                    <a href='#donations'>Support project -></a>
                </th>
            </tr>
        </table>
        <div data-aos="fade-up">
            <small>
                * If you're planning to host 100+ sessions (accounts, phone numbers),
                consider <b><a href='#tier-pro'>PRO</a></b> tier.
                You can still use it, there's no technical limit,
                but we can not provide the same level of support for 100+ sessions on <b>Plus</b> tier 🥲
            </small>
        </div>
    </div>
</section>

<section class='section section-md pb-0' id='why-waha'>
    <div class='text-center' data-aos="zoom-in">
        <h1 class='display-5 fw-normal mt-1'>Why WAHA?</h1>
    </div>
    <div class='row justify-content-center' data-aos="zoom-in">
        <table class='table-highlight-first-column'>
            <tr>
                <th>Features</th>
                <th>
                    <img src='/images/logo-robot.svg' title='WhatsApp API' alt='logo'
                         style='height: 2rem; transform: translateY(-0.3rem)'/>
                    WAHA Plus
                </th>
                <th>🤔 Others</th>
            </tr>
            <tr>
                <td>Number of accounts</td>
                <td>No limits on <b>accounts</b> or <b>servers</b>!</td>
                <td> ➖ One account for $50/month.</td>
            </tr>
            <tr>
                <td>Infrastructure</td>
                <td>On-Premise - your server, your infrastructure!</td>
                <td> ➖ Insecure cloud solution.</td>
            </tr>
            <tr>
                <td>Security</td>
                <td>No data leaks!</td>
                <td>➖ You have to give access to customers' data - phone number, name, your messages.</td>
            </tr>
            <tr>
                <td>License</td>
                <td> No license checks! It works even after you got unsubscribed
                    <br/>
                    <span class='text-muted fs-6'>
            (as long as WhatsApp doesn't make backward incompatible changes, or you need to reinstall it on new server).
          </span>
                </td>
                <td> ➖ One month</td>
            </tr>
            <tr>
                <td>Messages</td>
                <td>No message limits!</td>
                <td>➖ Some solutions have a price for messages, like $1 every 1,000 messages.</td>
            </tr>
            <tr>
                <td>Source Code</td>
                <td>Available for <a href='#tier-pro'>PRO</a> patrons!</td>
                <td>➖ No access to verify the code or adjust it for your needs.</td>
            </tr>
            <tr>
                <td>Price</td>
                <td><b>19$</b></td>
                <td>➖ Monthly payment starts from $50</td>
            </tr>
        </table>
    </div>
</section>

<section class='section section-md pb-0' id='donations'>
    <div class='text-center' data-aos="fade-up">
        <h1 class='display-5 fw-normal mt-1'>Donations</h1>
    </div>
    <div class='row justify-content-center' data-aos="fade-up">
        <div class='col-11 col-lg-9' style='min-width: 25rem'>
            <p>WAHA Plus version is available through <strong>donations</strong> (subscriptions).</p>

            <p><strong>It doesn't require monthly subscriptions, once installed on your server - it always
                works!</strong>
                (until WhatsApp made backward-incompatible changes, and you have to update the image,
                or you need to reinstall it on new server
                )
            </p>

            <div class='alert' style='display: flex; align-items: center;'>
                <span style='margin-right: 10px;'>💡</span>
                <span>No licence checks or expiration on already installed instances!</span>
            </div>
            <p>We do not sell <strong>WAHA</strong>, it's not a purchase. It's a donation.</p>

            <p>We treat our projects like art. You donate to the project and get a bit more from it as a thank-you.
                😊</p>

            <p>Treat <strong>WAHA Plus</strong> it as an additional episode, behind-the-scenes videos, our nude photos
                😊</p>

            <div class='alert' style='display: flex; align-items: center;'>
                <span style='margin-right: 10px;'>💡</span>
                <span>WAHA does not have license checks and expiration - because <b>art can not expire!</b> Enjoy it till it works!</span>
            </div>

            <p>
                👉 We
                <a href="https://github.com/devlikepro?tab=sponsoring" target="_blank"><b>donate big portion of your donations down to the stream</b></a>
                to the underlying libraries and tools - JS-community, Node,
                other libraries authors, personal contributors.<br>
                By donating to the <strong>WAHA</strong> you donate to the <b>Open Source</b> world!</p>
        </div>
    </div>
</section>

<section class='section section-md pb-0' id='how-to-donate'>
    <div class='text-center' data-aos="fade-up">
        <h2 class='display-5 fw-normal mt-1'>How to donate?</h2>
    </div>
    <div class='row justify-content-center' data-aos="fade-up">
        <div class='col-11 col-lg-9 text-center' style='min-width: 25rem'>
            <p>Choose the platform that suits you best to support the project.</p>
        </div>
    </div>

    <div class='row justify-content-center mt-4'>

        <!-- Boosty -->
        <div
                class='col-12 col-lg-4 pros-card-wide h-full d-flex flex-column justify-content-between'
                data-aos="fade-up" data-aos-delay="50"
        >
            <div>
                <div class='text-center mb-4'>
                    <img src='/logos/boosty.svg' alt='Boosty' style='height: 5rem'/>
                </div>
                <p>
                    <b>Boosty</b> - Patreon-like service for donations with fewer fees.
                    <br/>
                </p>
                <div>
                    Go ahead and get your own WhatsApp API!
                </div>
            </div>
            <div class='text-center pt-4'>
                <a
                        class='btn btn-outline-dark btn-lg'
                        href='https://boosty.to/wa-http-api'
                        target='_blank'
                        role='button'>Support on Boosty →</a>
            </div>
        </div>

        <!-- Patreon -->
        <div
                class='col-12 col-lg-4 pros-card-wide h-full d-flex flex-column justify-content-between'
                data-aos="fade-up" data-aos-delay="100"
        >
            <div>
                <div class='text-center mb-4'>
                    <img src='/logos/patreon.png' alt='Patreon' style='height: 5rem'/>
                </div>
                <p>
                    <b>Patreon</b> - well-known service for donations.
                    <br/>
                </p>
                <div>
                    Please consider using <b>Boosty</b> or <b>Crypto</b> instead of Patreon due to its lower fees 🙏
                </div>
            </div>
            <div class='text-center pt-4'>
                <a
                        class='btn btn-outline-danger btn-lg'
                        href='https://www.patreon.com/wa_http_api'
                        target='_blank'
                        role='button'>Support on Patreon →</a>
            </div>
        </div>

        <!-- Crypto -->
        <div
                class='col-12 col-lg-4 pros-card-wide pros-card--highlighted h-full d-flex flex-column justify-content-between'
                id='crypto'
                data-aos="fade-up" data-aos-delay="150"
        >
            <div>
                <div class='text-center mb-4'>
                    <img
                            src='/logos/tether-usdt-logo.svg' alt='Tether' style='height: 5rem'
                    />
                </div>
                <p>
                    <b>Cryptocurrency</b> - support the project with crypto!
                    <br/>
                </p>
                <div>
                    <p>
                        Go to <a href="https://portal.devlike.pro/donate" target="_blank">Patron Portal</a>, click <b>Upgrade/Renew</b>
                        and choose <b>Crypto</b> in the options!
                        Various cryptocurrencies available - <b>BTC, ETH, LTC, USD, and others</b>.
                    </p>

                    <hr>
                    <p class='text-center mx-0'>
                        <b>⚡50% OFF Yearly Offer!⚡</b>
                    </p>
                    <ul style='margin-left: 0'>
                        <li><b>Plus</b> -
                            <del>$228</del>
                            <b>$110</b></li>
                        <li><b>PRO</b> -
                            <del>$1,188</del>
                            <b>$590</b></li>
                    </ul>
                    <p>
                        Save the fees and get <b>Plus</b> or <b>PRO</b> for a year donating in crypto!
                    </p>
                    <small>
                        If you don't have crypto or don't know how to deal with it, checkout our
                        <a href="/blog/how-to-support-waha-using-crypto">
                        <b>Step-by-Step Crypto Guide</b>
                        </a>!
                    </small>
                    <hr>
                </div>
            </div>
            <div class='text-center pt-4'>
                <a
                        class='btn btn-outline-info btn-lg'
                        href='https://portal.devlike.pro/donate'
                        target='_blank'
                        role='button'>
                    Support with Crypto →
                </a>
            </div>
        </div>
    </div>
</section>

<section class='section section-md' id='what-next'>
    <div class='text-center' data-aos="zoom-out">
        <h2 class='display-5 fw-normal mt-1'>
            What's next?
        </h2>
    </div>

    <div class='row justify-content-center text-center' data-aos="zoom-out">
        <div class='col-11 col-lg-9' style='min-width: 25rem'>
            Read more about
            <a href='{{ relref . "/docs/how-to/waha-plus" }}'>
                how to get WAHA Plus using Patron Portal ->
            </a>
        </div>
    </div>
</section>
{{ end }}
