<footer class="footer text-muted mt-4" style="background-color: #E9F7E3">
    <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
        <!-- Footer Menu -->
        <!-- only if not /docs/.* -->
        {{ if not (in .Page.File.Path "docs") }}
            {{ partial "footer/menu.html" . }}
        {{ end }}

        <!-- Disclaimer -->
        {{ partial "footer/disclaimer.html" . }}
    </div>
</footer>

<!-- Algolia Search -->
{{ partial "footer/init-search-algolia.html" . }}
