<section class='section section-sm'>
    <div class='container'>
        <div class='row justify-content-center text-center'>
            <div class='col-12' data-aos="fade-up" data-aos-delay="0">
                <h2>
                    How To Use?
                </h2>
            </div>

            <!-- Run Command -->
            <div class='col-12 col-lg-4 pros-card-wide' data-aos="fade-up" data-aos-delay="50">
                <div class="d-flex align-items-start gap-4">
                    <div>
                        <img src='/images/icons/snap-hand.svg' alt='Run WAHA' style='width: 5rem'>
                    </div>
                    <div class="text-start">
                        <span class='h4 color-accent'>Start WAHA</span>
                        <div>
                            Run <b>one command</b> in the terminal <b>on your own laptop or server</b>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Scan QR -->
            <div class='col-12 col-lg-4 pros-card-wide' data-aos="fade-up" data-aos-delay="50">
                <div class="d-flex align-items-start gap-4">
                    <div>
                        <img src='/images/icons/phone-with-qr.svg' alt='Scan QR' style='width: 5rem'>
                    </div>
                    <div class="text-start">
                        <span class='h4 color-accent'>Pair Number</span>
                        <div>
                            Connect your or any other number by scanning QR code
                        </div>
                    </div>
                </div>
            </div>

            <!--  -->
            <div class='col-12 col-lg-4 pros-card-wide' data-aos="fade-up" data-aos-delay="50">
                <div class="d-flex align-items-start gap-4">
                    <div>
                        <img src='/images/icons/message-clouds.svg' alt='Scan QR' style='width: 5rem'>
                    </div>
                    <div class="text-start">
                        <span class='h4 color-accent'>ChatWoot</span>
                        <div>
                            Install
                            <a
                                    target="_blank"
                                    href="https://waha-n8n-templates.devlike.pro/chatwoot"
                            >
                                <b>WAHA ChatWoot Templates</b>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

