{{ define "main" }}
<script>
    AOS.init();
</script>

{{ $content := readFile "/layouts/include/bubbles.html" | safeHTML }}
{{ $content }}

<section class='section section-md pb-0'>
    <div class='container'>
        <div class='row text-center mb-4'>
            <div class='col' data-aos="fade-up">
                <h1 class='display-5 fw-normal mt-1'>{{ .Summary }}</h1>
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-10 d-flex flex-column gap-2 mb-4' data-aos="fade-up">
                <div>
                    <p class="lead">
                        <a href="/">WAHA</a> provides a private, self-hosted,
                        and free HTTP API to seamlessly integrate and automate <b>WhatsApp</b> using <b>C# (.NET)</b>.
                        <br>
                        <br>
                        Send messages, manage chats, and streamline workflows effortlessly with a simple API!
                    </p>
                </div>
                <div class='text-center flex-grow-1 d-flex flex-column justify-content-center'>
                    <div class='mb-4'>
                        <img src='/images/logo.svg' title='WhatsApp API' alt='logo'
                             style='border-radius: 50%; width: 7rem'/>
                    </div>
                    <div>
                        <a class='btn btn-primary btn-lg px-4 mb-2'
                           href='#how-to-start'
                           role='button'>Get Started</a>
                    </div>
                </div>
            </div>
            <div class='col-lg-6 order-first order-lg-last d-flex justify-content-start mb-4' data-aos="fade-up">
                <div>
                    <img
                            src='/images/csharp.svg' title='WhatsApp + C#'
                            alt='WhatsApp + C#'
                            height="180"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}

{{ $content := readFile "/layouts/include/how-to-use-section.html" | safeHTML }}
{{ $content }}

<section class='section section-sm'>
    <div class='container hr'>
        <div class='row justify-content-center text-center'>
            <div class='col-12 mt-4' data-aos="fade-up">
                <h2>
                    WhatsApp + C#
                </h2>
            </div>

            <div class='col-12 col-lg-4 pros-card-wide' data-aos="fade-up" data-aos-delay="100">
                <img
                        src='/images/icons/whatsapp-channels.svg'
                        alt='WhatsApp Channel Logo'
                        style='width: 5rem'
                >
                <h2 class='h4'>
                    Install Dependencies
                </h2>

                <div class='code-block highlight' style='text-align: left'>
          <pre tabindex='0' class='chroma m-0'>
            <code class='language-bash' data-lang='bash' style='padding: 1rem!important; border-radius: 0.5rem'>dotnet --version
dotnet add package System.Net.Http.Json
            </code>
          </pre>
                </div>
            </div>

            <div class='col-12 col-lg-4 pros-card-wide' data-aos="fade-up" data-aos-delay="50">
                <img src='/images/icons/message-green.png' alt='Free' style='width: 5rem'>
                <h2 class='h4 color-accent'>Send Messages</h2>

                <div class='code-block highlight' style='text-align: left'>
          <pre tabindex='0' class='chroma m-0'>
            <code class='language-json' data-lang='json' style='padding: 1rem!important; border-radius: 0.5rem'>
using System;
using System.Net.Http;
using System.Net.Http.Json;
using System.Threading.Tasks;

var client = new HttpClient();
var url = "http://localhost:3000/api/sendText";
var data = new
{
    session = "default",
    chatId = "12132132130@newsletter",
    text = "Hi there!"
};
var response = await client.PostAsJsonAsync(url, data);
response.EnsureSuccessStatusCode();
            </code>
          </pre>
                </div>
            </div>

            <div class='col-12 col-lg-4 pros-card-wide' data-aos="fade-up" data-aos-delay="150">
                <img src='/images/icons/button-green.png' alt='API' style='width: 5rem'>
                <h2 class='h4'>
                    Receive Messages
                </h2>

                <div class='code-block highlight' style='text-align: left'>
          <pre tabindex='0' class='chroma m-0'>
            <code class='language-json' data-lang='json' style='padding: 1rem!important; border-radius: 0.5rem'>
using Microsoft.AspNetCore.Builder;
using Microsoft.AspNetCore.Http;
using System.Text.Json;

var builder = WebApplication.CreateBuilder(args);
var app = builder.Build();

app.MapPost("/bot", async (HttpContext context) =>
{
    var data = await JsonSerializer.DeserializeAsync<JsonElement>(context.Request.Body);
    if (data.GetProperty("event").GetString() != "message")
    {
        // Process message, save it, respond, etc.
        ProcessMessage(data.GetProperty("payload"));
    }
    await context.Response.WriteAsync("OK");
});

app.Run();
            </code>
          </pre>
                </div>
            </div>

        </div>
    </div>
</section>

<section class='section section-md' id="how-to-start">
    <div class='container hr'>
        <div class='text-center mt-4' data-aos="zoom-out">
            <h2 class='display-5 fw-normal mt-1'>
                How To Start?
            </h2>
        </div>

        <div class='row justify-content-center text-center' data-aos="zoom-out">
            <div class='col-11 col-lg-9 fs-3' style='min-width: 25rem'>
                <p>
                    <a href='{{ relref . "/docs/overview/quick-start" }}'>
                        <b>⚡ Quick Start</b>
                    </a>
                    documentation to get started!
                </p>
            </div>
        </div>
    </div>
</section>

{{ $content := readFile "/layouts/include/why-waha-section.html" | safeHTML }}
{{ $content }}

{{ end }}
