// Card shortcode

.card-icon {
  padding: 0.2em;
  border-radius: 0.25rem;
}

.icon-yellow {
  border: 1px solid var(--sl-color-orange);
  background-color: var(--sl-color-orange-high);
}

.icon-purple {
  border: 1px solid var(--sl-color-purple);
  background-color: var(--sl-color-purple-high);
}

.icon-green {
  border: 1px solid var(--sl-color-green);
  background-color: var(--sl-color-green-high);
}

.icon-red {
  border: 1px solid var(--sl-color-red);
  background-color: var(--sl-color-red-high);
}

.icon-blue {
  border: 1px solid var(--sl-color-blue);
  background-color: var(--sl-color-blue-high);
}

.card-nav .card-box svg {
  stroke: $db-bluishCyan-100;
}

@include color-mode(dark) {
  .icon-yellow {
    border: 1px solid var(--sl-color-orange);
    background-color: var(--sl-color-orange-low);
  }

  .icon-purple {
    border: 1px solid var(--sl-color-purple);
    background-color: var(--sl-color-purple-low);
  }

  .icon-green {
    border: 1px solid var(--sl-color-green);
    background-color: var(--sl-color-green-low);
  }

  .icon-red {
    border: 1px solid var(--sl-color-red);
    background-color: var(--sl-color-red-low);
  }

  .icon-blue {
    border: 1px solid var(--sl-color-blue);
    background-color: var(--sl-color-blue-low);
  }

  .card-nav .card-box svg {
    stroke: $white;
  }
}

.card-nav .card-box {
  border-radius: 0;
  padding: 1rem 1rem 0;
}

.card-nav .card-box:hover {
  border: 1px solid $card-border-color;
  background-color: transparent;
}

@include color-mode(dark) {
  .card-nav .card-box {
    border: 1px solid hsl(224deg, 10%, 23%);
  }

  .card-nav .card-box:hover {
    border: 1px solid hsl(224deg, 10%, 23%);
    background-color: transparent;
  }
}

// DocSearch

.DocSearch-Container {
  z-index: 2000 !important;
}

.DocSearch-Hit-icon {
  display: flex;
  align-items: center;
}

.DocSearch-Hits mark {
  padding: 0;
}

@media (max-width: 768px) {
  .DocSearch-Modal {
    position: fixed !important;
  }
}

// DocSearch
@import "./variables-docsearch";
@import "@docsearch/css/dist/modal";

//
// highlight - http request
//

.http-method {
  font-weight: bold !important;
  padding: 0.25rem 0.7rem !important;
  border-radius: 4px !important;
  color: white !important;
}

// Define Swagger-like colors
$swagger-colors: (
        "GET": #61affe,
        "POST": #49cc90,
        "PUT": #fca130,
        "DELETE": #f93e3e,
        "PATCH": #50e3c2,
        "OPTIONS": #0d5aa7,
        "HEAD": #9012fe
);

// Apply colors to HTTP method classes
@each $method, $color in $swagger-colors {
  .http-method-#{$method} {
    background-color: $color !important;
  }
}

code.language-http[data-lang="http"] {
  font-weight: bold;
}

// General styles for the pre element
pre.chroma {
}

// Apply color based on HTTP method class inside pre.chroma
@each $method, $color in $swagger-colors {
  pre.chroma:has(.http-method-#{$method}) {
    background-color: rgba($color, 0.1);
    border-color: rgba($color, 1);
    border-radius: 0.25rem;
  }
}

